# .env.example
API_KEY=
VITE_FIREBASE_API_KEY=AIzaSyAz3mA4cd0N8UxOXWn8dpBKYltwKHyYNwM
VITE_FIREBASE_AUTH_DOMAIN=rajat-portfolio-d511c.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=rajat-portfolio-d511c
VITE_FIREBASE_STORAGE_BUCKET=rajat-portfolio-d511c.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=956417013588
VITE_FIREBASE_APP_ID=1:956417013588:web:f8ca63b4a598274e5ebac1
VITE_FIREBASE_MEASUREMENT_ID=G-DTHFYY8XZE
