# .env.example
VITE_SUPABASE_URL=https://tsyhdcfnzpwrpzkxlvqe.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRzeWhkY2ZuenB3cnB6a3hsdnFlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzE3MzA2NTIsImV4cCI6MjA4NzMwNjY1Mn0.kuwQxHnjNDfaVh2dIZW5V3f0PcBQABtqNID_gPGE5pA
API_KEY=sb_secret_rDn_PDObRZvU04LK5vL4nA_l77sJEuT
